body {background-color: powderblue;}
h1   {color: white;}
p    {color: black;}

/*Část pro s1p1: */
.pripravena_trida {color:blue; background-color: yellow}

/*Část pro s1p2
V souboru kurzory2.css
*/
