body {background-color: powderblue;}
h1   {color: white;}
p    {color: black;}

/*Část pro s1p1: */
.pripravena_trida {color:blue; background-color: yellow}

/*Část pro s1p2 */
h1 {cursor: grab;}
h2 {cursor: crosshair;}
img {cursor: wait;}
.pripravena_trida {cursor: zoom-in;}
.modry_kurzor {cursor: url(../kurzory/modry-kurzor.png), default;}
.zeleny_kurzor {cursor: url(../kurzory/zeleny-kurzor.png), auto;}
.divny_kurzor {cursor: url(../kurzory/divny-kurzor.png), auto;}
.divny_mini_kurzor {cursor: url(../kurzory/divny-kurzor-mini.png), auto;}
