body {background-color: powderblue;}
h1   {color: white;}
p    {color: black;}
ul {font-family: courier;}
.modry_nadpis {text-align: center; font-weight: bold; text-decoration: overline; color: blue;}
.modry {color: blue;}
.zeleny_nadpis {text-align: center; color: green;}
#zluty_podtitul {text-align: right; font-weight: bold;color:yellow;}
