body{
  background: #FFC300;
  margin: 0 0 0 0;
}
h1{
  margin: 0;
  text-align: center;
  text-shadow: 0px 1px 5px #808080;
  color:white;
  font-size: 300%;
  font-weight: bold;
  font-variant: small-caps;
}
h2{
  margin:0;
  font-weight: bold;
  font-stretch: expanded;
  width: 1450px;
}

.zahlavi{
background-color: #581845;
}
.menu{
  background-color: #C70039;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: justify;
}
.menu1{
  display: none;
  position: absolute;
}
.menu2{
  background-color: #C70039;
  margin:0;
  display: block;
  min-height: 50px;
  min-width: 120px;
  text-align: center;
}
.menu2:hover{background-color: grey}
.menu:hover .menu1{display: block;}

.buttons{
  border-width: 12px;
  border-color: #581845;
  border-radius: 9px;
  background-color: #DAF7A6 ;
  border-style: solid;
  display: grid;
  grid-template: 1fr 50px repeat(4,1fr)/repeat(5,1fr);
  width: 60%;
  margin-left: auto ;
  margin-right: auto ;
  margin-top: 5%;
}
#test {
  grid-area: 1 / 1 / 1 / 6;
}
#prd{
  grid-area: 2 / 1 / 2 / 6;
  text-align: right;
}
.button{
  background-color: #EA5D20;
  padding: 32px 32px;
  display: inline-block;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  border-color: #581845;
  font-size: 200%;
  color: black;
  margin: 2px;
  font-family: serif;
}

.button:hover{
  box-shadow: 0px 6px 12px 0px #581845;
  cursor: pointer;
}
