body {background-color: powderblue}
/*Pro p0*/
input[value="1"] {height: 100px;
width: 200px;
}
input:checked {height: 50px;
width: 50px;
}
option:checked {background-color: yellow}

h3 {border-style: solid;
border-width: medium;
border-color: red;}

h1 {border-style: dotted;
  border-radius: 15px;
  border-width: 3px;
  border-bottom-width: 8px;
  border-color: blue;
}

input[name="ukol5"] {width: 500px}
/* Porostor pro úkoly*/
input[name=ukol1]{width: 20px; height: 20px}
input[name=ukol1]:checked {width: 13px; height: 13px}

form{border-style: groove;}
form.ukoly {border: dotted red 6px}

/* pro dlouhy-soubor2.html */

.rodic {
background-color: white ;
}
.dite {
  background-color: yellow;
}
.pradite{
background-color: green;
}

.staticke {
position: static;
}

.absolutni {
position: absolute;
left: 50px;
top: 70px;
border-style: solid;
border-color: red;
}

.relativni {
  position: relative;
  left: 20px;
  border-style: dashed;
  border-color: blue;
}

.prichycene {
  position: fixed;
  top: 0;
  right: 0;
  width: 25%;
  border-style: dotted;
  border-color: black;
}
.prichycene2 {
  position: fixed;
  top: 20px;
  right: 20% ;
  width: 25%;
  border-style: dotted;
  border-color: black;
}
.prichycovaci{
  position: -webkit-sticky;
  position: sticky;
  bottom:0;
  border-style: double;
  border-width: 5px;
  border-color: pink;
}

.prichycovaci2{
  position: sticky;
  top:0;
  border-style: double;
  border-width: 5px;
  border-color: pink;
}

.ukol1{
  position: fixed;
  bottom: 0;
  right: 0;
  border-style: double;
}

.ukol2{
  position: relative;
  left: 50%;
}

.ukol2b{
  position: absolute;
  top: -20px;
  left: 30px;
}
