body{
  background: #077187;
  margin:100px 0px 0px 0px;
}
footer{
  color: white
}
button{
  color: white;
}

h1{
  font-family: Arial;
  font-weight: bold;
  color: #E4C5AF;
  text-shadow: 3px 3px 12px #F4E1D7;
  text-align: center;
  font-size: 40px;
  float: left;
  border: none;
  padding: 0% 0% 0% 0%;
  margin: 0;
  align-items: center;
}

article header{
  float: left;
    width: 40%;
}

article section{
  float: left;
  width: 60%;
}
ul{
  padding-inline-start: 20px;
  padding-inline-end: 20px;
}

nav ul{
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr) 2fr 1fr;
}
nav ul li{
  /*float: left;
  flex-direction: row;*/
  padding: 0% 3.5px 0% 3.5px;
  margin: 0 5px;
  font-size: 17px;
  height: 73px;
  line-height: 4.3em;
  text-align: center;
  border: 2px solid #E4C5AF;
  color: #E4C5AF;
}

nav ul li:hover{
  cursor: pointer;
  background: #9ECE9A;
  border-color: white;
  color: white;

}

#menu{
font-family: Verdana;
position: fixed;
top: 0px;
background: #077187;
}


nav a{
  color: white;
  text-decoration: none;
}

#h1{
  font-family: Arial;
  font-weight: bold;
  color: #E4C5AF;
  text-shadow: 3px 3px 7px #F4E1D7;
  text-align: center;
  /*font-size: 40px;*/
  float: left;
  border: 2px solid red;
  /*padding: 0% 0% 3% 0%;*/
}

.tlacitka{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 120px 3px 3px 3px;
  margin: 200px 10px 200px 10px;
  box-shadow: 3px 3px 7px #667F62;
  border: 6px solid #263025;
  border-radius: 5px;
  width: 540px;
  height: 30%;
  text-align: center;
  background: #9ECE9A;
}
.button{
font-family: Verdana;
font-size: 2em;
text-shadow: 1.5px 1.5px 5px #000000;
padding: 15% 15% 15% 15%;
border: 2px solid #000000;
border-radius: 10px;
margin: 2% 2% 2% 2%;
background-color: #074F57;
}
.button:hover{
  font-family: Verdana;
  font-size: 2em;
  text-shadow: 1.5px 1.5px 5px #000000;
  padding: 15% 15% 15% 15%;
  border: 2px solid #000000;
  border-radius: 10px;
  margin: 2% 2% 2% 2%;
  cursor: pointer;
  background-color: #074F57;
  box-shadow: 3px 3px 7px grey;
}

.article{
  height: auto;
  box-shadow: 3px 3px 7px grey;
      background: #74A57F;
      margin-top: 0;

}

.cistic{
  clear: both;
}

.menuu:hover{
  background-color: #074F57;
  cursor: pointer;
}

#nadpis{border: none
}
