body{
  background: #FFC300;
  margin: 0 0 0 0;
}
h1{
  margin: 0;
  text-align: center;
  text-shadow: 0px 1px 5px #808080;
  color:white;
  font-size: 300%;
  font-weight: bold;
  font-variant: small-caps;
}
h2{
  margin:0;
  font-weight: bold;
  font-stretch: expanded;
  width: 1450px;
}

.zahlavi{
background-color: #581845;
}
.menu{
  background-color: #FF5733;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: justify;
}
.menu1{
  display: none;
  position: absolute;
}
.menu2{
  background-color: #FF5733;
  margin:0;
  display: block;
  min-height: 50px;
  min-width: 120px;
  text-align: center;
}
.menu2:hover{background-color: grey}
.menu:hover .menu1{display: block;}
